html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 50px;
    /*background: url('../img/bg.png') no-repeat center -50px;*/
}

/* Common */
.align-center {
    text-align: center;
}
.width100percent {
    width: 100%;
}
.width80percent {
    width: 80%;
}
.width70percent {
    width: 70%;
}
.width60percent {
    width: 60%;
}
.width30percent {
    width: 30%;
}
.width20percent {
    width: 20%;
}
.info-box {
    padding: 20px 10px;
}
.box-border {
    border: 1px solid #dcdcdc;
}
.box-rounded-corners {
    border-radius: 15px;
}
.link-white-bold, .link-white-bold:hover {
    color: #ffffff;
    font-weight: bold;
}
.display-inline-block {
    display: inline-block;
}
.left-margin {
    margin-left: 10px;
}
.right-margin {
    margin-right: 10px;
}
.top-margin {
    margin-top: 10px;
}
.clear-both {
    clear: both;
}

/* Custom elements */
#logo {
    /*width: 197px;
    height: 37px;*/
    margin-top: -10px;
}
#header {
    /*height: 150px;*/
}
#content {
    background: #ffffff;
    min-height: 600px;
    padding: 10px;
}
#captcha {
    width: 300px;
    margin: 0 auto 10px auto;
}
#everwinterLogo {
    height: 230px;
    background: url('../img/everwinter-logo-bg.png') no-repeat center top;
}
#loggedInAs {
    height: 50px;
    color: #ffffff;
    display: block;
    padding-top: 15px;
    margin: 0 10px;
}
/* --- */

.navbar-fixed-top,
.navbar-fixed-bottom {
  -webkit-font-smoothing: antialiased;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}
.form-signin {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin #countrySelect {
    /*width: 360px;*/
}
.form-signin span.caret {
    position: relative;
    left: -20px;
}
.form-signin .help-block {
    font-size: 10px;
}
.server-status {
    width: 100%;
    background: #121f27;
    color: #ffffff;
    margin-bottom: 10px;
}
.server-online {
    min-height: 70px;
    width: 100%;
    background: url('../img/server-online.png') no-repeat left center;
    padding-left: 67px;
}
.server-offline {
    min-height: 70px;
    width: 100%;
    background: url('../img/server-offline.png') no-repeat left center;
    padding-left: 67px;
}
.server-offline-color {
    color: #BF7985;
}
.server-online-color {
    color: #4B9E59;
}